<section id="hero-area">
  <div class="container-headlines">
    <div class="headline-hero acc-line">
      <p>LET THERE BE CHANGE</p>
    </div>
    <div class="headline-hero my-line">
      <p>AND A JOURNEY</p>
    </div>
  </div>

  <!-- Scroll Prompt -->
  <span class="scroll-btn">
    <a href="#">
      <span class="mouse">
        <span>
        </span>
      </span>
    </a>
    <div class="scroll-prompt" id="js_scrollPrompt">
      <div class="scroll-prompt-shape"></div>
    </div>
    <div class="scroll-prompt2" id="js_scrollPrompt">
      <div class="scroll-prompt-shape2"></div>
    </div>
  </span>

  <!-- Page Mission -->
  <div class="page-mission">
    <p>Getting to know someone or something is an exciting experience - a journey.</p>
    <p>End every journey starts with a first step.</p>
  </div>
</section>

<!-- Journey: First Step -->
<section id="journey-first-step" class="content-section padding-section-y">
  <div class="container">
    <div class="section-header">
      <h2>Our first step</h2>
      <hr>
    </div>
    <div class="row">
      <div class="content-box about-me">
        <div class="text">
          <h4>The Travel destination of this journey</h3>
          <p>This challenhge is a great opportunity to not only learn more about Accenture -
          but also to show my understanding of the you and that I would be a great fit.
          </p>
          <p>So accordingly, we are going to start by me making the first step and elaborating on my key traits. Next, we will see if you are as convinced as I am that we are a great fit!</p>
        </div>
      </div>
      <!-- Trait 01 -->
      <div class="content-box traits">
        <div class="card-traits">
          <div class="icon">01</div>
          <div class="content">
            <h3>Eagerness to learn</h3>
            <p>
              As a person, I love learning. It does not matter if it is a new skill, a (coding) langue, or the occational life lesson... I love the experience and learn new things.
            </p>
          </div>
        </div>
        <!-- Trait 2 -->
        <div class="card-traits">
          <div class="icon">02</div>
          <div class="content">
            <h3>Ability to adapt</h3>
            <p>
              In order to grow and make today even just a little bit better than yesterday, I will adapt. I will adapt to close the gaps in my knowledge and skill set and be as rigourous as possible to find those gaps in the first place.
            </p>
          </div>
        </div>
        <!-- Trait 3 -->
        <div class="card-traits">
          <div class="icon">03</div>
          <div class="content">
            <h3>Curious to see</h3>
            <p>
              Curiousity might have killed the cat. But, in secret, I have always been more of a dog person. I cannot help but wonder how, why, and where.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Journey: Second Step -->
<section id="journey-third-step" class="content-section padding-section-y">
  <div class="container">
    <div class="section-header">
      <h2>Common Values</h2>
      <hr>
    </div>
    <div class="row">
      <div class="content-box about-acc">
       <div class="text">
         <h4>A road of common ground</h4>
         <p>Accentures six core values ressonate with my own understanding how a person, a professional, and or cooperation should operate. With a twist and to show some coding skills, I have provided my own perspective and core values.
         </p>
       </div>
      </div>
      <!-- Values -->
      <div class="content-box shared-values">
        <div class="container">
          <div class="row">

           <!-- Value 01-->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-values values">
              <article>
                  <figure>
                    <%= image_tag "views.jpg" %>
                  </figure>
                  <div>
                      <p>
                        Respect others, respect yourself, and respect your own boundaries.
                      </p>
                      <h1>
                          Respectful and open-minded
                      </h1>
                  </div>
              </article>
            </div>
          </div>
           <!-- Value 02-->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-values values">
              <article>
                  <figure>
                    <%= image_tag "structure-and-connect.jpg" %>
                  </figure>
                  <div>
                      <p>
                        Understanding interests and being empathic is not only human. It is also a guiding principle for cooperations and business.
                      </p>
                      <h1>
                        Emotionally intelligent and guided by reason
                      </h1>
                  </div>
              </article>
            </div>
          </div>
           <!-- Value 03-->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-values values">
              <article>
                  <figure>
                    <%= image_tag "rational-emotional.jpg" %>
                  </figure>
                  <div>
                      <p>
                        Next to inclusiveness stands the ability to truly connect individual and diverse pieces and create a powerful whole.
                      </p>
                      <h1>
                         Inclusiveness and Connecteness
                      </h1>
                  </div>
              </article>
            </div>
          </div>
           <!-- Value 04-->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-values values">
              <article>
                  <figure>
                    <%= image_tag "sun-over-see.jpg" %>
                  </figure>
                  <div>
                      <p>
                        Like this one-pager, a shared success story starty by defining a clear, agreed upon goal.
                      </p>
                      <h1>
                          Common goals & Shared Success
                      </h1>
                  </div>
              </article>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Journey: Third Step -->
<section id="journey-second-step" class="content-section padding-section-y">
  <div class="container">
    <div class="section-header">
      <h2>Complimenting Path and Trajectory</h2>
      <hr>
    </div>
    <div class="row">
      <div class="content-box about-acc">
        <div class="text">
          <h4>The Journey we can go on</h4>
          <p>
            When a career constitutes the entirety of jobs, achievments, and accounts for personal success than there is no place I would rather see myself working.
          </p>
          <p>
            However, in the end of the day, it should not all have been for the "what". It should also be about the "how". And since we have aleady understood one another in terms of values, here are my goals for a common journey.
          </p>
        </div>
        <br>
      </div>
      <!-- Stats -->
      <div class="content-box key-stats">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 nopadding">
              <div class="card-facet">
                <div class="own-perspective">
                  <p>To set new goals</p>
                  <hr style="border-color:#D9A027">
                </div>
                <%= image_tag "Strategy-and-Consulting.png" %>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 nopadding">
              <div class="card-facet">
                <div class="own-perspective">
                  <p>To learn from a global community</p>
                  <hr style="border-color:#5580FF">
                </div>
                <%= image_tag "Technology.png" %>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 nopadding">
              <div class="card-facet">
                <div class="own-perspective">
                  <p>To "let there be change" and be courageous despite hurdles and uncertainty</p>
                  <hr style="border-color:#CC4E58">
                </div>
                <%= image_tag "Interaction.png" %>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 nopadding">
              <div class="card-facet">
                <div class="own-perspective">
                  <p>To innovate, create Value, and share Success ... and to allwayds follow the "Boyscout Rule"</p>
                  <hr style="border-color:#D732E7">
                </div>
                <%= image_tag "Operations.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Journey: Fourth Step -->
<section id="journey-second-step" class="content-section padding-section-y">
  <div class="container">
    <div class="section-header">
      <h2>Part of the one team</h2>
      <hr>
    </div>
    <div class="row">
      <div class="content-box about-acc">
        <br>
        <br>
        <br>
      </div>
      <!-- Stats -->
      <div class="content-box key-stats">
        <div class="container">
          <div class="row align-itmes-center">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div class="content-left">
                <div class="box-stat">
                  <p class="big-number">505K</p>
                  <p>Soon to increase by one ... me!</p>
                </div>
                <div class="box-stat">
                  <p class="big-number">6K</p>
                  <p>Countries served throughout more than 120 countries</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div class="content-center">
                <%= image_tag "Vector-One_Team-Stats-1.png", class:"box-stat-one" %>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div class="content-right">
                  <div class="box-stat">
                    <p class="big-number">200</p>
                    <p>Cities with Accenture locations and operations</p>
                  </div>
                  <div class="box-stat">
                    <p class="big-number">185</p>
                    <p>Partners in our ecosystem</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="360-degress">
  <div class="box-stat-bottom">
          <p class="big-number">360°</p>
          <p>The degree to which I look for chances to grow</p>
        </div>
</div>


